@import "tailwindcss";

@theme {
  --color-dummy-green: #09A295;
  --color-dummy-white: #F8F8FF;
}

a, button {
  cursor: pointer !important; /* Tambahkan !important jika diperlukan */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
* {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}